pandas
matplotlib
seaborn     
ipdb
requests
tabula-py
pdfplumber
camelot-py[cv]
PyPDF2==2.12.1
pymupdf
pdf2image
pytesseract
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
